* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.register-wrapper {
  display: flex;
  max-width: 90%;
  margin: auto;
  justify-content: center;
  min-height: 600px;
}

.register-banner {
  background-image: url(./images/bg.svg);
  background-size: cover;
  background-position: center;
  padding: 45px;
  color: #F3F2FF;
  width: auto;
  display: flex;
  flex-direction: column;
}

a {
  color: currentColor;
  margin-bottom: auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  min-height: 35%;
  justify-content: space-between;
}

.banner-text h2 {
  font-weight: 700;
  font-size: 36px;
}

.banner-text h3 {
  font-weight: 500;
  font-size: 40px;
}

.banner-text h4 {
  font-weight: 500;
  font-size: 24px;
}

.form-wrapper {
  width: 33%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 0 45px;
  background-color: #F3F2FF;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  height: 50%;
  color: #2F2E41;
}

.form-title {
  line-height: 10px;
  font-weight: lighter;
}

form,
button,
p {
  margin-top: 25px;
}

form input {
  outline: none;
  border: none;
  width: 100%;
  margin-top: 25px;
  background-color: transparent;
  border-bottom: 2px rgba(47, 46, 65, 0.15) solid;
}

button {
  background-color: rgba(47, 46, 65, 0.8);
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  border: none;
  outline: none;
  color: #F3F2FF;
}

@media screen and (max-width: 1000px) {
  .register-banner {
    display: none;
  }
}