* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

.txtcnt {
  background: url('./img/bgimg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 100%;
  width: 60%;
  padding: 50px 50px;
}

.home {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-top: 50px;
  margin-bottom: 650px;
}

.title {
  display: block;
  margin-top: 20px;
  width: 90%;
  font-weight: 700;
  word-spacing: .7rem;
  font-size: 3rem;
  color: white;
}

#autor {
    display: block;
  color: white;
}

#olive {
    display: block;
  margin-top: 30px;
  font-weight: 500;
  font-size: 28px;
}

#lead {
    display: block;
  font-weight: 500;
  font-size: 15px;
}

.form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.fom {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.fom input{
  outline: none;
  border: none;
  width: 85%;
  margin-top: 30px;
  background-color: transparent;
  border-bottom: 2px rgba(47, 46, 65, 0.15) solid;
}

#pswrd {
  text-align: right;
  width: 100%;
  padding-right: 20px;
  margin-right: 15px;
}

#login {
  background-color: rgba(47, 46, 65, 0.8);
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  border: none;
  outline: none;
  color: #F3F2FF;
}