 .loginpage {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

 .txtcnt {
   background: url('./img/bgimg.svg');
   background-position: center;
   background-repeat: none;
   background-size: cover;
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 65%;
   padding: 30px 20px;
   justify-content: space-between;
 }

 .home {
   margin-top: 100px;
   text-decoration: none;
   color: white;
 }

 .title {
   width: 100%;
   font-weight: 700;
   font-size: 2.6rem;
   color: white;
 }

 #autor {
   margin-top: 20px;
   margin-bottom: 10px;
   color: white;
 }

 #olive {
   font-weight: 500;
   font-size: 40px;
 }

 #lead {
   font-weight: 500;
   font-size: 24px;
 }

 .form {
   width: 35%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 20px;
   padding-top: 100px;
   padding-left: 50px;
   padding-right: 20px;
   padding-bottom: 100px;
 }

 .fom {
   width: 100%;
 }

 form input {
   outline: none;
   border: none;
   margin-top: 25px;
   background-color: transparent;
   border-bottom: 2px rgba(47, 46, 65, 0.15) solid;
 }

 #pswrd {
   text-align: right;
   width: 100%;
 }

 #login {
   background-color: rgba(47, 46, 65, 0.8);
   padding: 5px;
   border-radius: 5px;
   width: 90%;
   border: none;
   outline: none;
   color: #F3F2FF;
 }