.article{
  width: 100vw;
  height: 100vh;
  padding: 10px 50px ;
}
.art-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}
.art-head img{
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.art-info{
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

.art-info h3{
  color: #2F2E41 ;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 26.4706px;
  line-height: 32px;
  margin: 0 15px ;
}

.art-info p{
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  /* text-align: center; */
  color: rgba(47, 46, 65, 0.5);
  font-family: 'Helvetica Neue';
}

.share-me{
  width: 20vw;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
}
.share-me .click{
  padding: 7px 20px;
  border-radius: 7px;
  border: none;
  background-color: #2F2E41;
  color: white;
}

.art-main{
  display: flex;
  flex-direction: column;
}

.art-main h1{
  color: #2F2E41;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin: 15px 0;
}

.art-main p{
  color: #9797A0;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 39px;
  text-align: justify;
}


.sim-art{
  margin: 30px 0;
}

.sim-art h1{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #2F2E41;
}


.common-article{
  display: flex;
  flex-basis: calc(33% - 2rem);
  width: 100%;
}

.common-article h2{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 27.6117px;
  line-height: 34px;
  color: #000000;
}

.common-article p{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  /* align-items: center; */
  margin: 15px;
  max-width: 372px;
}

.common-article button {
  background: #2F2E41;
  border-radius: 10px;
  width: 170px;
  height: 45px;
  border: none;
  color: white;
  margin: 20px 0
};

.common-article{
  width: 1240px;
  height: 616px;
  border-radius: 25px;
}
